.box-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e100f;
    padding: 0.4rem 1rem;
    border: 2px solid #646cff;
}

.box-title-header{
    font-size: 0.8rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box-menu a{
    padding: 0.6rem;
}

.titleHeader{
    color:rgb(105, 105, 225);
}

.image{
    max-width:6vw;
    border-radius: 50%;
}

.container-link-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-link-menu{
    
    color: #646cff;
    font-weight:bold;
    margin: 1px;
    width: 5rem;
}



.box-logout, .box-login{
    cursor:pointer;
    transition: all 0.4s;
}

.box-logout:hover, .box-login:hover{
    color: #fff;
    transition: all 0.4s;
}